<%- include ('partials/header') %>

<div class="jumbotron" style="margin-top: 20px;">
    <div class="container">
        <center>
            <h1 class="display-4">Edit Products</h1>
            <hr>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </center>
    </div>
</div>

<%- include ('partials/footer') %>